@model DoctorViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="slides">
    <div style="background-image: url(/img/slider/ximg_bg_1.jpg.pagespeed.ic.gttODn5s4U.webp);" class="slide-heading">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center headings animated fadeInUp">
                    <div class="slider-text-inner">
                        <h1>Medicare <strong>Departments</strong></h1>
                        <h2>html5 Bootstrap Templates Made by <a href="">prisma.com</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <div class="appointment-area">
                    <h2 class="line-block">Make an appointment</h2>
                    <p class="btn-app">
                        <a href="/html/appointment.html"><span>Book an Appointment<i class="far fa-calendar-alt" aria-hidden="true"></i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-img">
                    <img src="/img/xabout.jpg.pagespeed.ic.Fgk92-nbFh.webp" style="width: 100%;" alt="">
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-7">
                <h2>About Medicare</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                    blind texts.
                </p>
                <div class="accordion">
                    @for (int i = 0; i < Model.Abouts.Count(); i++)
                    {
                        <div class="accordion__header @if (i == 0) { <text> is-active</text>} ">
                            <h2>@Model.Abouts[i].Title</h2>

                            <span class="accordion__toggle"></span>
                        </div>
                        <div class="accordion__body is-active">
                            <p>
                                @Model.Abouts[i].Description
                            </p>
                        </div>
                    }
                    @*<div class="accordion__header is-active">
                            <h2>First accordion item</h2>
                            <span class="accordion__toggle"></span>
                        </div>
                        <div class="accordion__body is-active">
                            <p>
                                Unlike regular towels where sand can get caught in loop fibres, AbsorbLite’s smooth and silk
                                engineering allows for sand to slip off easily. So you leave the beach at the beach.
                            </p>
                        </div>
                        <div class="accordion__header">
                            <h2>Second accordion item</h2>
                            <span class="accordion__toggle"></span>
                        </div>
                        <div class="accordion__body">
                            <p>Shipping and returns are free for everyone, everywhere in the world :)</p>
                            <p><strong>Free worldwide shipping</strong></p>
                            <p>Your order will be dispatched the next day.</p>
                        </div>
                        <div class="accordion__header">
                            <h2>Third accordion item</h2>
                            <span class="accordion__toggle"></span>
                        </div>
                        <div class="accordion__body">
                            <p>Our exclusive AbsorbLite fabric is a durable form of microfiber (polyamide/polyester).</p>
                            <p>Taken care of properly it shoud last you years. We recommend cold tumble dry.</p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="doctor">
    <div class="container">
        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
            <div class="col-md-6 text-center doctor-heading">
                <h2>Well experienced doctors</h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
        </div>
        <div class="row animate-box">
            @foreach (var doctor in @Model.Doctors)
            {
                <div class="col-md-3 col-sm-6 col-xs-12 text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
                    <div class="doctor">
                        <div class="img" style="background-image: url(/img/slider/@doctor.Image);">
                        </div>
                        <div class="doctor-info">
                            <h3><a href="#">@doctor.Name</a></h3>
                            <span>@doctor.Department</span>
                            <ul class="doctor-social">
                                <li><a href="@doctor.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="@doctor.Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="@doctor.Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="@doctor.Instagram"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
